body {
	border: 20px solid #bdc3c7;
	/*width: 50%;*/
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	color: #2c3c50;
	text-transform: capitalize;
	font-weight: 900;
}

.date {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
}

.start {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}